.footer {
    background: #2980b9; 
    background: -webkit-linear-gradient(to right, #36506b, #2980b9);  
    background: linear-gradient(to right, #2c3e50, #083f63); 
    color: #ffffff;
    width: 100%;
    bottom: 0;
    padding-top:35px;
    padding-bottom: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.19);
    overflow: hidden;
  }
  
  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    align-items: flex-start;
  }
  
  .footer-brand {
    display: flex;            
    flex-direction: column;   
    align-items: center;      
    font-size: 1.5rem;        
    font-weight: bold;
  }
  
  .footer-logo {
    width: 100px;
    height: 100px;
    margin-top: 20px;    
    border-radius: 50px;      
  }
  
  /* Newsletter */
  .footer-newsletter {
    width: 700px;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .newsletter-title {
    margin-bottom: 8px;
    font-weight: 500;
    margin-bottom: 20px;
    
  }

  .footer-newsletter .Description{
    font-size: 0.9rem;
    color: #ddd;
    margin-top: 35px;
  }
  .newsletter-form {
    width: 400px;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
  }
  .newsletter-form input {
    flex: 1;
    padding: 8px 12px;
    border: 1px solid #444;
    border-radius: 4px;
    background: #f1eaeaa1;
    color: #000000;
  }
  .newsletter-form input:focus {
    outline: none;
    border-color: #1e90ff;
  }
  .newsletter-form button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background:  #0c1446c9;
    color: #fff;
    cursor: pointer;
    transition: background 0.2s;
  }
  .newsletter-form button:hover {
    background: #007acc;
  }
  
  /* Social icons */
  .footer-social {
    padding-top: 3.5rem;
    display: flex;
    gap: 30px;
    font-size: 1.4rem;
  }

  .footer-social a {
    color: #eee;
    transition: color 0.2s;
  }
  .footer-social a:hover {
    color: #1e90ff;
  }

  
  /* Bottom bar */
  .footer-bottom {
    text-align: center;
    margin-top: 30px;
    font-size: 0.85rem;
    color: #ffffff;
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .footer-container {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    .newsletter-form {
      flex-direction: column;
    }
    .footer-nav {
      justify-content: center;
    }
    .footer-social {
      justify-content: center;
    }
  }
  