.register-drug-page{
    background-color: #f0f4f8;
    font-family: Arial, sans-serif;
    color: #333;
    padding: 1rem;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin: 2rem;
}

.register-container {
    max-width: 400px;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-left: 50%;
    transform: translateX(-50%)
  }

  .register-form {
    text-align: center;
    margin-bottom: 1.5rem;
    font-size: 2rem;
  }
  .register-form p{
    font-size: 16px;
    text-align: left;
    margin-left: 2rem;
    margin-bottom: 0.5rem;
  }

  .register-container h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #333;
    font-size: 1.8rem;
  }
  
  .register-container input[type="text"],
  .register-container input[type="date"] {
    width: 80%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
  }

  
  .register-container button {
    width: 160px;
    padding: 0.75rem;
    background-color: #0c1446;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    font-size: 1rem;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 1rem;
    margin-left: 50%;
    transform: translateX(-50%);
  }
  
  .register-container button:hover {
    background-color: #002e5f;
  }
  