.login-container{
    background-image: url('https://images.unsplash.com/photo-1612838320303-4b3b3b3b3b3b');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outer-container {
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.background-div {
    background-color: rgb(255, 255, 255); /* Set the background color */
    width: 500px;
    height: 500px;
}

.Image {
   margin: 15%;
}

.login-form {
    flex-grow: 1;
    padding: 4rem;
}

.login-form h2 {
   padding: auto;
   padding-left: 7rem;
}

.mb-3 {
    margin-bottom: 1rem;
}

.forgot-password {
    margin-top: 1rem;
    text-align: right;
}

.mb-3{
    padding: 0.5rem;
}

.mb-3 input{
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    background-color: rgba(0, 191, 255, 0.139); /* Set the background color */
    margin-top: 1rem;
}

.d-grid{
    display: inline;
    align-items: center;

}

.loginbutton {
    width: 160px;
    padding: 0.75rem;
    background-color: #0c1446;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    font-size: 1rem;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 1rem;
    margin-left: 50%;
    margin-bottom: 1rem;
    transform: translateX(-50%);
}
  
button:hover {
    box-shadow: none;
    opacity: 80%;
}

.forgot-passwordtext-right{
    text-align: center;
}