/* /* Renamed and BEM-scoped CSS for your Register page */

.register-page {
    background-image: url('https://images.unsplash.com/photo-1612838320303-4b3b3b3b3b3b');
    /* background-size: cover; */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .register-page__outer {
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .register-page__form h2{
    padding: auto;
    padding-left: 7rem;
 }
  
  .register-page__image-container {
    background-color: rgb(255, 255, 255);
    width: 600px;
  }
  
  .register-page__image {
    display: block;
    margin: 15%;
  }
  
  .register-page__form {
    flex-grow: 1;
    padding: 4rem;
  }
  
  .register-page__form-group {
    padding: 0.5rem;
  }
  
  .register-page__form-group input {
    width: 100%;
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
    background-color: rgba(0, 191, 255, 0.139);
    margin-top: 1rem;
  }
  
  .register-page__actions {
    display: inline;
    align-items: center;
  }
  
  .register-page__button {
    width: 160px;
    padding: 0.75rem;
    background-color: #0c1446;
    border: none;
    border-radius: 4px;
    color: #ffffff;
    font-size: 1rem;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 1rem;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 1rem;
  }
  
  .register-page__button:hover {
    box-shadow: none;
    opacity: 0.8;
  }

  .register-page__forgot-password{
    text-align: center;
  }